@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon.eot?dpfmnu");
  src: url("../icons/icomoon.eot?dpfmnu#iefix") format("embedded-opentype"), url("../icons/icomoon.ttf?dpfmnu") format("truetype"), url("../icons/icomoon.woff?dpfmnu") format("woff"), url("../icons/icomoon.svg?dpfmnu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bar-graph:before {
  content: "\e900";
}

.icon-transfer:before {
  content: "\e901";
}

.icon-arrows:before {
  content: "\e901";
}

.icon-headphones:before {
  content: "\e910";
}

.icon-bullhorn:before {
  content: "\e91a";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-display:before {
  content: "\e956";
}

.icon-laptop:before {
  content: "\e957";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-hdd:before {
  content: "\e963";
}

.icon-search:before {
  content: "\e986";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-download-alt:before {
  content: "\e9c7";
}

.icon-globe:before {
  content: "\e9ca";
}

.icon-random:before {
  content: "\ea30";
}

.icon-arrow-right:before {
  content: "\ea3c";
}

.icon-code:before {
  content: "\ea80";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-x:before {
  content: "\ea96";
}

.icon-linkedin:before {
  content: "\eaca";
}

.icon-angle-double-right:before {
  content: "\e902";
}

.icon-star:before {
  content: "\e903";
}

.icon-lock:before {
  content: "\e904";
}

.icon-flask:before {
  content: "\e905";
}

.icon-clipboard:before {
  content: "\e906";
}

.icon-paste:before {
  content: "\e906";
}

.icon-handshake-o:before {
  content: "\e907";
}

.icon-dashboard:before {
  content: "\e908";
}

.icon-taco-meter:before {
  content: "\e908";
}

.icon-phone-square:before {
  content: "\e909";
}

.icon-pencil:before {
  content: "\e90a";
}

.icon-envelope:before {
  content: "\e90b";
}

.icon-money:before {
  content: "\e90c";
}

.icon-graduation-cap:before {
  content: "\e90d";
}

.icon-cloud-download:before {
  content: "\e90e";
}

.icon-cloud:before {
  content: "\e90f";
}

.icon-group:before {
  content: "\e911";
}

.icon-users:before {
  content: "\e911";
}

.icon-cogs:before {
  content: "\e912";
}

.icon-gears:before {
  content: "\e912";
}

.icon-paperplane:before {
  content: "\e913";
}

.icon-send:before {
  content: "\e913";
}

.icon-flight:before {
  content: "\e913";
}

.icon-email:before {
  content: "\e913";
}

.icon-chat:before {
  content: "\e914";
}

.icon-help:before {
  content: "\e915";
}

.icon-security:before {
  content: "\e916";
}

.icon-phone:before {
  content: "\e917";
}

.icon-up-trend:before {
  content: "\e918";
}

.icon-phone-in-talk:before {
  content: "\e919";
}

.icon-mouse:before {
  content: "\e91b";
}

@font-face {
  font-family: "icomoon";
  src: url("../icons/icomoon2.eot?pg8ppf");
  src: url("../icons/icomoon2.eot?pg8ppf#iefix") format("embedded-opentype"), url("../icons/icomoon2.ttf?pg8ppf") format("truetype"), url("../icons/icomoon2.woff?pg8ppf") format("woff"), url("../icons/icomoon2.svg?pg8ppf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e900";
}

.icon-arrow-forward:before {
  content: "\e901";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Open sans";
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
}

h4 {
  font-size: 16px;
  margin: 20px 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333645;
}

main {
  background-color: #f4f4f4;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: auto;
}

.button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
}
.button-software {
  background-color: #f7b322;
}
.button-it {
  background-color: #4183d7;
}
.button-digital {
  background-color: #2ecc71;
}
.button-telecoms {
  background-color: #d64541;
}
.button-web {
  background-color: #926fb1;
}
.button-security {
  background-color: #f62459;
}
.button-dev-course {
  background-color: #ce4125;
}

footer {
  background-color: #333645;
  color: #ffffff;
  padding: 27px 0 0;
}
footer a {
  color: #ffffff;
}
footer h4 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 26px;
}
footer h4:first-of-type {
  margin-top: 26px;
}
footer .footer-menu {
  margin-bottom: 30px;
}
footer .footer-menu:last-of-type {
  margin-bottom: 0;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer img {
  width: 250px;
  max-width: 100%;
  height: auto;
}

.foot-bottom {
  background-color: #212330;
  color: #ffffff;
  padding: 15px 0 15px 0;
  font-size: 0.8125rem;
}
.foot-bottom .box-foot-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-bottom .license {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.foot-bottom .license ul {
  padding: 0;
  margin: 0px;
  align-items: flex-start;
}
.foot-bottom .license ul li {
  display: flex;
}
.foot-bottom .license ul li a {
  color: #ffffff;
  text-decoration: none;
}
.foot-bottom .license ul li a:hover {
  text-decoration: underline;
}

.footer-social-logos {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-social-logos a {
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  padding: 12px 22px 16px;
  background-color: #212330;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35%;
}

.section.clients {
  background-color: #f4f4f4;
}
.section.clients .list.client-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 50px;
}
.section.clients .list.client-scroll .item {
  height: 125px;
  display: flex;
}
.section.clients .list.client-scroll .item picture {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}
.section.clients .list.client-scroll .item picture:hover {
  filter: grayscale(0);
}
.section.clients .list.client-scroll .item picture img {
  max-width: 150px;
  object-fit: cover;
}
.section.clients .list.client-scroll .item .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333645;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.section.clients .list.client-scroll .item .description .box {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.section.clients .list.client-scroll .item .description .box h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.section.clients .list.client-scroll .item .description .box p {
  font-size: 14px;
  margin-bottom: 15px;
}
.section.clients .list.client-scroll .item .description .box .button {
  margin-top: auto;
  background-color: #67809f;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}
.section.clients .list.client-scroll .item .description .box .button:hover {
  background-color: #536d8b;
}
.section.clients .list.client-scroll .item .description .box .button .icon-arrow-right {
  margin-left: 5px;
}
.section.clients .list.client-scroll .item .description .box .button .icon-arrow-right:after {
  content: "→";
}
.section.clients .list.client-scroll .item .description .box .arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333645;
}
.section.clients .list.client-scroll .item:hover .description {
  opacity: 1;
}

.latest-view-all {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.latest-view-all a {
  font-size: 26px;
  font-weight: 600;
}

.item.article {
  background-color: #fff;
  border: 1px rgba(109, 109, 109, 0.2823529412) solid;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}
.item.article .image-box {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.item.article .image-box .cat-amanda {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #4183c4;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}
.item.article .image-box .cat-tessa, .item.article .image-box .cat-tom {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #db8c0d;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}
.item.article .image-box img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item.article .image-box h2 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 24px;
  max-width: 45%;
  margin: 0;
}
.item.article .block {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item.article .block h3 {
  text-align: start;
  font-size: 18px;
  margin-bottom: 5px;
  color: #4183c4;
}
.item.article .block h3 .read-time {
  font-size: 14px;
  color: #888;
  font-weight: normal;
}
.item.article .block p {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  text-align: start;
}
.item.article .block .button-amanda {
  display: inline-block;
  background-color: #4183c4;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 3px;
}
.item.article .block .button-tessa, .item.article .block .button-tom {
  display: inline-block;
  background-color: #db8c0d;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 3px;
}
.item.article .block .user {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.item.article .block .user .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.item.article .block .user .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item.article .block .user .details {
  font-size: 14px;
  color: #333;
  text-align: start;
  margin-left: 10px;
}
.item.article .block .user .details .txt-prime {
  font-weight: bold;
}

.section.partners {
  background-color: #f4f4f4;
}
.section.partners .list.scrolling-partners {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 50px;
}
.section.partners .list.scrolling-partners .item {
  height: 125px;
  display: flex;
}
.section.partners .list.scrolling-partners picture {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}
.section.partners .list.scrolling-partners picture:hover {
  filter: grayscale(0);
}
.section.partners .list.scrolling-partners picture img {
  max-width: 150px;
  object-fit: cover;
}

.brand-background {
  background-color: #333645;
  color: #fff;
  padding: 15px;
}
.brand-background .h1 {
  font-size: 36px;
  font-weight: 400;
}
.brand-background .welcome-section p {
  line-height: 2;
}
.brand-background .welcome-section p:first-of-type {
  font-weight: 400;
}
.brand-background p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}
.brand-background p a {
  font-size: 16px;
}
.brand-background .button {
  display: flex;
  background-color: #272936;
  justify-content: center;
  align-items: baseline;
  padding: 10px 25px;
  gap: 10px;
  margin-left: 0;
  max-width: fit-content;
  border-radius: 5px;
}
.brand-background .button:last-of-type {
  margin-bottom: 20px;
}
.brand-background .button-google {
  background-color: #4387F6;
  margin-bottom: 20px;
}
.brand-background .button-trustpilot {
  background-color: #00B67B;
}
.brand-background a {
  color: #fff;
  font-size: 20px;
}
.brand-background .star-box {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.brand-background .star-box .icon {
  display: flex;
  justify-content: start;
}

.client-quote-author {
  color: grey;
  font-weight: 600;
  font-size: 1.1em a;
  font-size-color: white;
}

.client-quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}

.logo {
  width: 75%;
}

.hide-xsml {
  display: none;
}

.services-list .h1 {
  font-weight: 400;
  font-size: 2.7rem;
  color: #333645;
  font-family: "Poppins", sans-serif;
}
.services-list .flex-card {
  background-color: #fff;
  display: flex;
  border: 1px rgba(109, 109, 109, 0.2823529412) solid;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  padding: 50px;
  width: 90%;
  height: fit-content;
}
.services-list .flex-card .h2 {
  justify-content: center;
  display: flex;
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
}
.services-list .flex-card .icon {
  display: block;
  font-size: 35px;
  color: #fff;
  margin-bottom: 25px;
}
.services-list .flex-card .icon-laptop {
  background-color: #67809f;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-display {
  background-color: #4183d7;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-bar-graph {
  background-color: #2ecc71;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-phone-in-talk {
  background-color: #d64541;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-code {
  background-color: #926fb1;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-security {
  background-color: #f62459;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .icon-graduation-cap {
  background-color: #ce4125;
  border-radius: 100%;
  padding: 15px;
}
.services-list .flex-card .p {
  display: block;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}
.services-list .flex-card .button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
}
.services-list .flex-card .button-software {
  background-color: #f7b322;
}
.services-list .flex-card .button-it {
  background-color: #4183d7;
}
.services-list .flex-card .button-digital {
  background-color: #2ecc71;
}
.services-list .flex-card .button-telecoms {
  background-color: #d64541;
}
.services-list .flex-card .button-web {
  background-color: #926fb1;
}
.services-list .flex-card .button-security {
  background-color: #f62459;
}
.services-list .flex-card .button-dev-course {
  background-color: #ce4125;
}

.item {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  text-align: center;
}
.item .image-cover-box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}
.item .image-cover-box picture {
  width: 100%;
  height: 500px;
}
.item .image-cover-box picture .image-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}
.content .h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  font-weight: 600;
}
.content p {
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding: 0 15px;
}
.content .button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}
.content .button-web {
  background-color: #926fb1;
  color: white;
}

nav .main-nav {
  display: none;
}

/*# sourceMappingURL=application.css.map */
