* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Open sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #666;
}

h4 {
  font-size: 16px;
  margin: 20px 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333645;
}
main {
  background-color: #f4f4f4;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: auto;
}
