.descp {
  display: none;
}
.itm {
  max-height: 90px;
  height: 90px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 20px;
}

.clients {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.client-slide {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  height: 200px;
}
h3 {
  font-size: 26px;
  line-height: 1.1em;
}
