footer {
  background-color: #333645;
  color: #ffffff;
  padding: 15px 0;
  font-size: 14px;
  a {
    color: #ffffff;
  }
  .footer-menu {
    padding: 0 15px;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    h4 {
      font-size: 1rem;
      font-weight: 300;
      margin: 0 0 26px;
    }
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    align-self: self-start;
    padding: 0 0 5px;
  }
  img {
    width: 250px;
    max-width: 100%;
    height: auto;
  }
}

//bottom footer
.foot-bottom {
  background-color: #212330;
  color: #ffffff;
  padding: 15px 0 15px 15px;
  font-size: 14px;
  .box-foot-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .license {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    ul {
      padding: 0;
      margin: 0px;
      align-items: flex-start;
      li {
        display: flex;
        a {
          color: #ffffff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
