.latest-view-all {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  a {
    font-size: 26px;
    font-weight: 600;
  }
}

.item.article {
  background-color: #fff;
  border: 1px #6d6d6d48 solid;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;

  .image-box {
    position: relative;
    height: 200px;
    overflow: hidden;

    .cat- {
      &amanda {
        position: absolute;
        top: 10px;
        right: 0;
        background-color: #4183c4;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 2;
      }
      &tessa,
      &tom {
        position: absolute;
        top: 10px;
        right: 0;
        background-color: #db8c0d;
        color: #fff;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 2;
      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    h2 {
      position: absolute;
      left: 20px;
      bottom: 20px;
      color: #fff;
      font-size: 24px;
      max-width: 45%;
      margin: 0;
    }
  }

  .block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      text-align: start;
      font-size: 18px;
      margin-bottom: 5px;
      color: #4183c4;

      .read-time {
        font-size: 14px;
        color: #888;
        font-weight: normal;
      }
    }

    p {
      font-size: 14px;
      color: #333;
      margin-bottom: 15px;
      text-align: start;
    }

    .button- {
      &amanda {
        display: inline-block;
        background-color: #4183c4;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 16px;
        border-radius: 3px;
      }
      &tessa,
      &tom {
        display: inline-block;
        background-color: #db8c0d;
        color: #fff;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 16px;
        border-radius: 3px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      margin-top: 15px;
      border-top: 1px solid #eee;
      padding-top: 15px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        font-size: 14px;
        color: #333;
        text-align: start;
        margin-left: 10px;

        .txt-prime {
          font-weight: bold;
        }
      }
    }
  }
}
