.hide-xsml {
  display: none;
}
.services-list {

  .h1 {
    font-weight: 400;
    font-size: 2.7rem;
    color: #333645;
    font-family: "Poppins", sans-serif;
  }
  .flex-card {
    background-color: #fff;
    display: flex;
    border: 1px #6d6d6d48 solid;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    padding: 50px;
    width: 90%;
    height: fit-content;

    .h2 {
      justify-content: center;
      display: flex;
      font-size: 1.3rem;
      position: relative;
      padding-bottom: 10px;
      margin: 0 0 11px;
    }
    .icon {
      display: block;
      font-size: 35px;
      color: #fff;
      margin-bottom: 25px;

      &-laptop {
        background-color: #67809f;
        border-radius: 100%;
        padding: 15px;
      }
      &-display {
        background-color: #4183d7;
        border-radius: 100%;
        padding: 15px;
      }
      &-bar-graph {
        background-color: #2ecc71;
        border-radius: 100%;
        padding: 15px;
      }
      &-phone-in-talk {
        background-color: #d64541;
        border-radius: 100%;
        padding: 15px;
      }
      &-code {
        background-color: #926fb1;
        border-radius: 100%;
        padding: 15px;
      }
      &-security {
        background-color: #f62459;
        border-radius: 100%;
        padding: 15px;
      }
      &-graduation-cap {
        background-color: #ce4125;
        border-radius: 100%;
        padding: 15px;
      }
    }
    .p {
      display: block;
      font-size: 0.8125rem;
      line-height: 1.375rem;
      margin-bottom: 13px;
      font-weight: 400;
    }
    .button {
      height: auto;
      line-height: 35px;
      padding: 5px 15px;
      text-transform: uppercase;
      font-size: 1.063rem;
      border-radius: 3px;
      white-space: normal;
      color: #fff;
      &-software {
        background-color: #f7b322;
      }
      &-it {
        background-color: #4183d7;
      }
      &-digital {
        background-color: #2ecc71;
      }
      &-telecoms {
        background-color: #d64541;
      }
      &-web {
        background-color: #926fb1;
      }
      &-security {
        background-color: #f62459;
      }
      &-dev-course {
        background-color: #ce4125;
      }
    }
  }
}
